{% extends 'base.html' %}
{% load static %}



{% block statics %}
    <script type="text/javascript" src="{%static 'home/home.js'%}"></script>
{% endblock %}

{% block title %} Dicionário segipano de libras {% endblock %}

{% block main %}
    <div class="row d-flex flex-row-reverse mr-2">
        <a class="col-sm-1" href="#"> Apresentação </a>
        <a class="col-sm-1" href="#"> Creditos</a>
    </div>

    <div class="row d-flex justify-content-center">        
        <a class="navbar-brand col-sm-2" href="#">
            <img class="img-responsive col-sm-10" src="media/logo.png" alt="logomarca" > 
        </a>
    </div>
    
    
    <div class="row">  
        <form method="POST" class="col-sm-3">
            {% csrf_token %}
            {% block categoria %}
                <div class="col-sm-12">
                    {% for cat in object_list %}
                        <div id="{{cat.nome|cut:' '}}" style="cursor:pointer;" onclick="get_palavra('{{cat.id}}')">
                            {{cat.nome}}
                        </div>
                        <br>
                    {% endfor %}
                </div>
            {% endblock %}        
        </form>     
    
    

    {% block palavras %}
        <form method="POST" class="col-sm-3">
            <span id="pal_encontradas"></span>
            
        </form>
    {% endblock %}

    {% block atributos %}
        <div id="pal_atributos" class="col-sm-6 row d-flex justify-content-center">
            <!-- <span id="pal_atributos"></span> -->
        </div>
        <!-- <img src="" alt=""> -->
            <!-- <img id="larrow" class="arrow" src="static/img/larrow.png"> -->
            <!-- <iframe  id="palvideo"   frameborder="0" allowfullscreen></iframe> -->
            <!-- <img id="rarrow" class="arrow" src="static/img/rarrow.png"> -->

            <!-- <img id="palsw" src="fotos/branco.png">
            <textarea name="paldef" class="deffont" id="paldef" readonly></textarea> -->
    {% endblock %}
    </div>
{% endblock %}
